<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sld.faq.module.candidate.mapper.FaqCandidateMapper">

    <select id="selectPage" resultType="com.sld.faq.module.candidate.entity.FaqCandidate">
        SELECT * FROM faq_candidate
        <where>
            <if test="status != null and status != ''">AND status = #{status}</if>
            <if test="fileId != null">AND file_id = #{fileId}</if>
        </where>
        ORDER BY created_at DESC
    </select>

</mapper>
